<div class="row custom-font">
    <div class="col-2" scope="col">Center Name</div>
    <div class="col-2" scope="col">Center Address</div>
    <div class="col-1" scope="col">Vaccine Name</div>
    <div class="col-1" scope="col">Fee</div>
    <div class="col-1" scope="col">Date</div>
    <div class="col-1" scope="col">Min. Age Limit</div>
    <div class="col-1" scope="col">Available Capacity</div>
    <div class="col-1" scope="col">Dose 1 Capacity</div>
    <div class="col-1" scope="col">Dose 2 Capacity</div>
    <div class="col-1" scope="col">Slots</div>
</div>