<div class="row custom-font">
    <div class="col-2">
        {{centerDetails?.name}}
    </div>
    <div class="col-2">
        {{centerDetails?.address}}
    </div>
    <div class="col-1">
        <div *ngFor="let session of centerDetails?.sessions">
            <label [innerHTML]="session?.vaccine"></label>
        </div>
    </div>
    <div class="col-1" *ngIf="centerDetails?.vaccine_fees; else feeType">
        <div *ngFor="let vaccineFee of centerDetails?.vaccine_fees">
            <label [innerHTML]="vaccineFee?.fee"></label>
        </div>
    </div>
    <div class="col-1">
        <div *ngFor="let sessionDate of centerDetails?.sessions">
            <label [innerHTML]="sessionDate?.date"></label>
        </div>
    </div>
    <div class="col-1">
        <div *ngFor="let ageLimit of centerDetails?.sessions">
            <label [innerHTML]="ageLimit?.min_age_limit"></label>
        </div>
    </div>
    <div class="col-1" [ngClass]="this.mark ? 'change-font-color' : ''">
        <div *ngFor="let totalCapacity of centerDetails?.sessions">
            <label [innerHTML]="totalCapacity?.available_capacity"></label>
        </div>
    </div>
    <div class="col-1" [ngClass]="this.mark ? 'change-font-color' : ''">
        <div *ngFor="let dose1Capacity of centerDetails?.sessions">
            <label [innerHTML]="dose1Capacity?.available_capacity_dose1"></label>
        </div>
    </div>
    <div class="col-1" [ngClass]="this.mark ? 'change-font-color' : ''">
        <div *ngFor="let dose2Capacity of centerDetails?.sessions">
            <label [innerHTML]="dose2Capacity?.available_capacity_dose2"></label>
        </div>
    </div>
    <div class="col-1">
        <div *ngFor="let slots of centerDetails?.sessions">
            <div *ngFor="let slot of slots?.slots">
                <label [innerHTML]="slot"></label>
            </div>                
        </div>
    </div>
</div>

<ng-template #feeType>
    <div class="col-1">
        {{centerDetails?.fee_type}}
    </div>
</ng-template>