.extra-space {
    margin-top: 3%;
    margin-bottom: 3%;
}

.extra-space-1 {
    margin-bottom: 3%;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}