.placement {
    align-items: center;
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.row {
    color: red;
}

.disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}